.container{
  display: flex;
  justify-content: space-around;
  height: 30vh;
  align-items: flex-end;
  
}
.computer_section{
  
  
}
.container2{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  align-items: center;
  gap: 12px;
}

img{
  width: 200px;
  height: 200px;
  pointer-events: none;
}
button{
  border-radius:12px;
  border: 2px solid black;
}